[data-login-template] {
	@apply container relative mx-auto flex min-h-[calc(100dvh)] w-full flex-grow flex-col items-center justify-center p-5 sm:p-10;
	[data-title] {
		@apply font-heading text-balance pt-3 text-center text-3xl font-bold sm:text-4xl;
		span {
			@apply text-muted-foreground block pt-2 text-center font-sans text-lg font-normal;
		}
	}
	[data-verification-error] {
		@apply max-w-sm pt-4 text-center sm:mx-auto sm:w-full sm:pt-8;
	}
	[data-button] {
		@apply cursor-pointer rounded-xl text-base transition ease-out hover:brightness-110;
	}
	[data-form] {
		@apply w-full sm:mx-auto sm:max-w-md sm:text-lg;

		[data-input-container] {
			@apply relative mt-1 rounded-xl shadow-sm;
			[data-icon] {
				@apply pointer-events-none absolute inset-y-0 left-0 flex items-center pl-4;
				svg {
					@apply text-muted-foreground h-5 w-5;
				}
			}
			[data-input] {
				@apply bg-card dark:bg-foreground/3 h-14 rounded-xl pl-12 text-base;
			}
		}
		[data-button] {
			@apply dark:bg-primary mt-4 h-14 w-full rounded-xl bg-blue-600 text-base font-semibold;
		}
	}
	[data-separator] {
		@apply relative flex items-center justify-center py-5 text-center text-sm opacity-60;
	}
	[data-providers-container] {
		@apply w-full space-y-2 pt-8 sm:mx-auto sm:max-w-md sm:pt-10;
		[data-button] {
			@apply border-border dark:bg-foreground/3 bg-card hover:bg-primary/2 dark:hover:text-primary h-14 w-full cursor-pointer rounded-xl transition ease-out hover:text-blue-600 hover:brightness-100;
		}
	}
}

[data-check-your-email] {
	@apply container relative flex min-h-[calc(100vh-var(--nav-height))] flex-grow flex-col items-center justify-center border-x px-5 pb-16 pt-10;
	[data-container] {
		@apply mx-auto flex w-full max-w-md flex-col items-center gap-5 text-center;
	}
	[data-title] {
		@apply font-heading text-center text-3xl font-extrabold leading-9 sm:text-3xl lg:text-4xl;
	}
	[data-message] {
		@apply max-w-sm opacity-75;
	}
}
