[data-login-template] {
	@apply container relative mx-auto flex min-h-[calc(100vh-var(--nav-height))] w-full flex-grow flex-col items-center justify-start p-5 pb-10 pt-10 sm:p-5 sm:pt-32;
	[data-title] {
		@apply font-heading text-balance pt-3 text-center text-xl font-extrabold sm:text-3xl;
		span {
			@apply text-muted-foreground block pt-2 text-center font-sans text-lg font-normal;
		}
	}
	[data-verification-error] {
		@apply max-w-sm pt-4 text-center sm:mx-auto sm:w-full sm:pt-8;
	}
	[data-button] {
		@apply text-base;
	}
	[data-form] {
		@apply w-full sm:mx-auto sm:max-w-md sm:text-lg;

		[data-input-container] {
			@apply relative mt-1 rounded-md shadow-sm;
			[data-icon] {
				@apply pointer-events-none absolute inset-y-0 left-0 flex items-center pl-4;
				svg {
					@apply text-muted-foreground h-5 w-5;
				}
			}
			[data-input] {
				@apply h-14 pl-12 text-base;
			}
		}
		[data-button] {
			@apply mt-4 h-14 w-full text-lg font-semibold transition;
		}
	}
	[data-separator] {
		@apply py-5 text-center text-sm opacity-60;
	}
	[data-providers-container] {
		@apply w-full space-y-2 pt-8 sm:mx-auto sm:max-w-md sm:pt-10;
		[data-button] {
			@apply border-muted-foreground h-14 w-full;
		}
	}
}

[data-check-your-email] {
	@apply container relative flex min-h-[calc(100vh-var(--nav-height))] flex-grow flex-col items-center justify-center border-x px-5 pb-16 pt-10;
	[data-container] {
		@apply mx-auto flex w-full max-w-md flex-col items-center gap-5 text-center;
	}
	[data-title] {
		@apply font-heading text-center text-3xl font-extrabold leading-9 sm:text-3xl lg:text-4xl;
	}
	[data-message] {
		@apply max-w-sm opacity-75;
	}
}
