---

import Layout from '../../layouts/default.astro';
import { getProviders } from '../../util/auth'

const providers = await getProviders()
---

<Layout title="Sign In to CodeTV">
	<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
		<div class="max-w-md w-full space-y-8">
			<div>
				<h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
					Sign in to your account
				</h2>
			</div>
			<div class="mt-8 space-y-6">
				{Object.values(providers ?? {}).map((provider) => (
					<div>
						<a
							href={`/api/auth/signin/${provider.id}`}
							class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
						>
							Sign in with {provider.name}
						</a>
					</div>
				))}
			</div>
		</div>
	</div>
</Layout>
