---
import Layout from '../layouts/default.astro';
import SeriesList from '../components/series-list.astro';
import { getAllSeries } from '../util/sanity';
import Heart from '../components/heart.astro';
import Supporters from '../components/supporters.astro';

export const prerender = true;

const allSeries = await getAllSeries();
---

<Layout title="tv for developers — CodeTV">
	<main>
		<section class="hero">
			<h1>tv for developers</h1>
			<p>
				Watch stories about web developers overcoming challenges, learning, and
				having fun together with a supportive community.
			</p>
		</section>
		<SeriesList series={allSeries.filter((s) => s.featured)} short />

		<section class="support">
			<h2>Become a supporter</h2>
			<p>
				CodeTV is possible thanks to the support of partner companies and
				individual supporters. We help developers learn their craft in a fun,
				community-centered way — and with your support we can make an even
				bigger impact. <Heart />
			</p>
			<p>Get more info and become a supporter today:</p>
			<div class="support-options">
				<a href="/support" class="button">Individual Support</a>
				<a href="https://partners.codetv.dev" class="button"
					>Partner Companies</a
				>
			</div>
			<div class="supporters">
				<h3>Current Supporters</h3>
				<Supporters />
			</div>
		</section>
	</main>
</Layout>

<style>
	main {
		inline-size: min(90dvi, calc((300px + 2rem) * 4 - 2rem));
		margin-block-start: 3rem;
		margin-inline: auto;
	}

	.hero {
		h1 {
			font-family: monaspace-argon, monospace;
			font-feature-settings: 'calt', 'liga', 'ss01', 'ss02', 'ss03', 'ss04',
				'ss05', 'ss06', 'ss07', 'ss08';
			font-size: clamp(1rem, 3.5cqi + 1rem, 4rem);
			font-weight: 800;
			line-height: 1.1;
			text-align: center;
		}

		p {
			font-size: clamp(1rem, 0.5cqi + 1rem, 2.5rem);
			font-weight: 200;
			max-inline-size: min(46ch, 90vw);
			margin: 0.5rem auto 0;
			text-align: center;
		}
	}

	.support {
		inline-size: min(90dvi, 54ch);
		margin-block-end: 4rem;
		margin-inline: auto;

		p {
			margin: 1rem 0 0;
		}

		.support-options {
			display: flex;
			gap: 2rem;
			justify-content: center;
			margin-block-start: 0.25rem;

			a {
				border: 1px solid var(--gray-600);
				font-size: 1rem;
				font-weight: 400;
			}
		}
	}

	.supporters {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 2rem auto 0;

		h3 {
			inline-size: 100%;
			text-align: center;
		}
	}
</style>
