---
import Layout from '../layouts/default.astro';
import SeriesList from '../components/series-list.astro';
import { getAllSeries } from '../util/sanity';

export const prerender = true;

const allSeries = await getAllSeries();
---

<Layout
	title="All Series by CodeTV — tv for developers"
	description="Watch original programming made for developers. Rediscover the fun in web dev with CodeTV."
>
	<main>
		<SeriesList series={allSeries} />
	</main>
</Layout>

<style>
	main {
		inline-size: min(90dvi, calc((300px + 2rem) * 4 - 2rem));
		margin-block-start: 3rem;
		margin-inline: auto;
	}
</style>
