.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.idea

packages/*/*.js
packages/*/*.d.ts
packages/*/*.d.ts.map
packages/*/lib
packages/**/generated

# Core
packages/core/lib
packages/core/providers