@import 'tailwindcss';
@import 'tw-animate-css';
/* @import '@code-hike/mdx/dist/index.css' layer(base); */
/* @import './primary-newsletter-cta.css'; */
@import './tip-newsletter-cta.css';
@import './video-block-newsletter-cta.css';
@import './login.css' layer(utilities);

@plugin '@tailwindcss/typography';

@source '../**/*.{ts,tsx,mdx}';
@source '../../node_modules/@coursebuilder/ui/chat-assistant/**/*.{ts,tsx,mdx}';
@source '../../node_modules/@coursebuilder/ui/codemirror/**/*.{ts,tsx,mdx}';
@source '../../node_modules/@coursebuilder/ui/hooks/**/*.{ts,tsx,mdx}';
@source '../../node_modules/@coursebuilder/ui/primitives/**/*.{ts,tsx,mdx}';
@source '../../node_modules/@coursebuilder/ui/feedback-widget/*.{ts,tsx,mdx}';
@source '../../node_modules/@coursebuilder/ui/resources-crud/**/*.{ts,tsx,mdx}';
@source '../../node_modules/@coursebuilder/ui/utils/**/*.{ts,tsx,mdx}';
@source '../../node_modules/@coursebuilder/ui/index.tsx';
@source '../../node_modules/@coursebuilder/commerce-next/src/**/*.{ts,tsx}';

@custom-variant dark (&:is(.dark *));

@utility container {
	margin-inline: auto;
	padding-inline: 1.5rem;
	max-width: var(--breakpoint-xl);
	@media (min-width: 640px) {
		padding-inline: 1.5rem;
	}
	@media (min-width: 1024px) {
		padding-inline: 2rem;
	}
}

@theme {
	/* Screens */
	--breakpoint-2xl: 1820px;

	/* Gray color scale */
	/* --color-gray-50: oklch(98.5% 0 0);
	--color-gray-100: oklch(97% 0 0);
	--color-gray-200: oklch(92.2% 0 0);
	--color-gray-300: oklch(87% 0 0);
	--color-gray-400: oklch(70.5% 0.015 286.067);
	--color-gray-500: oklch(55.2% 0.016 285.938);
	--color-gray-600: oklch(43.9% 0 0);
	--color-gray-700: oklch(37.1% 0 0);
	--color-gray-800: oklch(26.9% 0 0);
	--color-gray-900: oklch(20.5% 0 0);
	--color-gray-950: oklch(14.5% 0 0); */

	--animate-shine: shine 5s linear infinite forwards 5s;
	@keyframes shine {
		0% {
			background-position: 200%;
		}
		100% {
			background-position: -200%;
		}
	}
}

:root {
	font-synthesis: noen;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--nav-height: 77px;
	--command-bar-height: 37px;
	--pane-layout-height: calc(
		100vh - var(--nav-height) - var(--command-bar-height)
	);
	--code-editor-layout-height: calc(
		100vh - var(--nav-height) - var(--command-bar-height) - 30px
	);

	--radius: 0.75rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.141 0.005 285.823);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);
	--primary: oklch(0.5192 0.2681 267.38);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.92 0.004 286.32);
	--input: oklch(0.96 0.004 286.32);
	--ring: oklch(0.623 0.214 259.815);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
	color-scheme: light;

	--md-editor-background: var(--background);
	--md-editor-foreground: var(--foreground);
	--md-editor-border: var(--border);

	/* codehike theme */
	--ch-0: light;
	--ch-1: #6e7781;
	--ch-2: #0550ae;
	--ch-3: #953800;
	--ch-4: #24292f;
	--ch-5: #8250df;
	--ch-6: #116329;
	--ch-7: #cf222e;
	--ch-8: #0a3069;
	--ch-9: #82071e;
	--ch-10: #f6f8fa;
	--ch-11: #ffebe9;
	--ch-12: #dafbe1;
	--ch-13: #ffd8b5;
	--ch-14: #eaeef2;
	--ch-15: #57606a;
	--ch-16: #ffffff;
	--ch-17: #eaeef280;
	--ch-18: #fdff0033;
	--ch-19: #1a85ff;
	--ch-20: #add6ff;
	--ch-21: #0969da;
	--ch-22: #f6f8fa;
	--ch-23: #d0d7de;
	--ch-24: #8c959f;
	--ch-25: #afb8c133;
	--ch-26: #ffffffe6;
}

.dark {
	/* golden color scheme */
	--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.23 0.006 285.885);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.21 0.006 285.885);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.746 0.245 262.881);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.28 0.006 285.885);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.19 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.274 0.006 286.033);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.488 0.243 264.376);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
	color-scheme: dark;

	/* codehike theme */
	--ch-0: dark;
	--ch-1: #8b949e;
	--ch-2: #79c0ff;
	--ch-3: #ffa657;
	--ch-4: #c9d1d9;
	--ch-5: #d2a8ff;
	--ch-6: #7ee787;
	--ch-7: #ff7b72;
	--ch-8: #a5d6ff;
	--ch-9: #ffa198;
	--ch-10: #f0f6fc;
	--ch-11: #490202;
	--ch-12: #04260f;
	--ch-13: #5a1e02;
	--ch-14: #161b22;
	--ch-15: #8b949e;
	--ch-16: #0d1117;
	--ch-17: #6e76811a;
	--ch-18: #ffffff0b;
	--ch-19: #3794ff;
	--ch-20: #264f78;
	--ch-21: #1f6feb;
	--ch-22: #010409;
	--ch-23: #30363d;
	--ch-24: #6e7681;
	--ch-25: #6e768166;
	--ch-26: #0d1117e6;
}

@theme inline {
	/* Font families */
	--font-sans:
		var(--font-inter), ui-sans-serif, system-ui, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-heading:
		var(--font-inter), ui-sans-serif, system-ui, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-mono:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
		'Courier New', monospace;

	/* Shadcn color tokens */
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	/* Border radius */
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

@utility prose-base {
	--tw-prose-body: var(--color-foreground);
	--tw-prose-headings: var(--color-foreground);
	--tw-prose-lead: var(--color-foreground);
	--tw-prose-links: var(--color-primary);
	--tw-prose-bold: var(--color-foreground);
	--tw-prose-counters: var(--color-foreground);
	--tw-prose-bullets: var(--color-foreground);
	--tw-prose-hr: var(--color-border);
	--tw-prose-quotes: var(--color-foreground);
	--tw-prose-quote-borders: var(--color-border);
	--tw-prose-captions: var(--color-foreground);
	--tw-prose-code: var(--color-foreground);
	--tw-prose-pre-code: var(--color-foreground);
	--tw-prose-pre-bg: var(--color-muted);
	--tw-prose-th-borders: var(--color-border);
	--tw-prose-td-borders: var(--color-border);
	--tw-prose-invert-body: var(--color-foreground);
	--tw-prose-invert-headings: var(--color-foreground);
	--tw-prose-invert-lead: var(--color-foreground);
	--tw-prose-invert-links: var(--color-primary);
	--tw-prose-invert-bold: var(--color-foreground);
	--tw-prose-invert-counters: var(--color-foreground);
	--tw-prose-invert-bullets: var(--color-muted-foreground);
	--tw-prose-invert-hr: var(--color-border);
	--tw-prose-invert-quotes: var(--color-muted-foreground);
	--tw-prose-invert-quote-borders: var(--color-border);
	--tw-prose-invert-captions: var(--color-foreground);
	--tw-prose-invert-code: var(--color-foreground);
	--tw-prose-invert-pre-code: var(--color-foreground);
	--tw-prose-invert-pre-bg: var(--color-muted);
	--tw-prose-invert-th-borders: var(--color-foreground);
	--tw-prose-invert-td-borders: var(--color-border);
}

@layer base {
	[data-sr-button='default'] {
		@apply relative cursor-pointer dark:ring-2 dark:ring-black;
		background-color: oklch(0.546 0.245 262.881) !important;
		/* background-image: linear-gradient(
			180deg,
			color-mix(in hsl, var(--primary) 70%, white 30%) 0%,
			var(--primary) 2%,
			var(--primary) 95%,
			color-mix(in hsl, var(--primary) 50%, var(--foreground) 50%) 95%,
			color-mix(in hsl, var(--primary) 25%, var(--foreground) 75%) 100%
		); */

		/* soft inner shadow small */
		box-shadow:
			inset 0 1px 0px 0px rgba(255, 255, 255, 0.2),
			inset 0 -2px 0px 1px rgba(0, 0, 0, 0.2) !important;
	}

	[data-sr-button='secondary'] {
		@apply ring-foreground/10 ring-1; /* soft inner small */
		box-shadow:
			inset 0 2px 1px 1px rgba(255, 255, 255, 0.1),
			inset 0 -1px 1px 1px rgba(0, 0, 0, 0.5) shadow ring-1 !important;
	}

	* {
		@apply border-border outline-ring/50 selection:bg-primary selection:text-primary-foreground;
	}
	body {
		@apply bg-background text-foreground font-sans font-normal;
	}

	h1,
	h2 {
		font-family: var(--font-heading);
		text-wrap: balance;
	}

	html.dark .shiki,
	html.dark .shiki span {
		color: var(--shiki-dark) !important;
		background-color: var(--background) !important;
		font-style: var(--shiki-dark-font-style) !important;
		font-weight: var(--shiki-dark-font-weight) !important;
		text-decoration: var(--shiki-dark-text-decoration) !important;
	}

	.prose li {
		list-style-type: square;
	}

	.cm-gutterElement {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: var(--font-mono);
		font-size: 0.75rem;
		line-height: 1rem;
	}

	.cm-gutters {
		border-right-width: 1px;
		border-color: var(--color-border);
	}
}

/* Custom component styles */
.md-editor-toolbar-warp {
	background-color: var(--color-background);
	border-bottom-width: 1px;
	border-color: var(--color-border);
}

[data-checklist] {
	padding-left: 1rem;
	list-style-position: outside;
	list-style-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDE0IDE0Ij4KICA8cGF0aCBmaWxsPSIjRjNBRDVCIiBkPSJtMTQgMy4xNS0uNy0xLjRjLTYuMDM4IDEuNzUtOS4xIDUuNi05LjEgNS42bC0yLjgtMi4xTDAgNi42NWw0LjIgNS2YzMuMjM3LTYuMDM3IDkuOC05LjEgOS44LTkuMVoiLz4KPC9zdmc+Cg==');
}

[data-discord-button] {
	background-color: #5a65ea;
}
