/* @reference './globals.css'; */

#post-newsletter-cta [data-sr-convertkit-subscribe-form] {
	@apply flex w-full flex-col items-center md:flex-row;
	[data-sr-fieldset] {
		@apply flex w-full;
	}
	[data-sr-fieldset]:last-of-type {
		@apply md:w-[130%];
	}
	input {
		@apply border-border flex h-14 items-center rounded-none border-y-0 border-b px-6 focus-visible:ring-0 focus-visible:ring-offset-0 md:!h-20 md:border-x md:border-b-0 md:px-8 md:text-lg;
	}
	[data-sr-input-label] {
		@apply sr-only mt-3 inline-block pb-1 text-base font-normal;
	}
	[data-sr-input-asterisk] {
		@apply opacity-50;
	}
	[data-sr-button] {
		@apply bg-primary text-primary-foreground h-14 w-full rounded-none px-8 font-medium md:!h-20 md:w-auto md:text-lg lg:px-10;
	}
}
