---

---

<aside>
	<p>
		<strong>Heads up!</strong>
		This site is in beta and may have issues. Please report bugs, missing functionality,
		etc.
		<a href="https://github.com/codetv-dev/codetv.dev/issues"> on GitHub </a>
	</p>
</aside>

<style>
	aside {
		backdrop-filter: blur(2rem) saturate(120%);
		background: color-mix(in oklch, var(--yellow-500) 60%, transparent);
		border-block-end: 0.5px solid var(--gray-200);
		color: var(--text-strong);
		font-size: 0.75rem;
		inset-block-start: 0;
		inset-inline: 0;
		padding: 0.5rem max((100dvi - 1080px) / 2, 5dvi);
		position: sticky;
		text-align: center;

		a {
			color: inherit;
			pointer-events: all;
		}
	}
</style>
