---
import { actions } from 'astro:actions';

export const prerender = 'false';

export interface Props {
	heading?: string;
	disclaimer?: string;
}

const {
	heading = 'Learn from experts. Build something new. Grow your career. Let’s do it together.',
	disclaimer,
} = Astro.props;
---

<aside class="opt-in">
	<form method="POST" action={`/confirm${actions.newsletter.subscribe}`}>
		<slot>
			<h2>{heading}</h2>
			<p>
				My life got way better when I stopped worrying about picking the “right”
				thing and focused on finding the fun in learning instead.{' '}
				<strong>
					I learn as much I can, build things often, and share what I’m learning
					with my friends.
				</strong>
			</p>
			<p>
				I consider the folks on my newsletter to be my friends — subscribe and
				I’ll share what I’m learning and building. Let’s grow our careers
				together!
			</p>
		</slot>

		<label for="firstName">First Name</label>
		<input type="text" name="firstName" id="firstName" required />

		<label for="email">Email</label>
		<input type="email" name="email" id="email" required />

		<button>Subscribe</button>

		{disclaimer ? <p class="disclaimer">{disclaimer}</p> : null}
	</form>
</aside>

<style>
	.opt-in {
		background: var(--black);
		color: var(--white);
		container: newsletter / inline-size;
		grid-column-start: 2;
		margin: 3rem max(-5vw, -2rem) 0;
		padding: 2rem min(5vw, 2rem) 2.25rem;

		&.constrained {
			margin-inline: 0;
			padding-inline: 2rem;
		}

		&:has(.disclaimer) {
			padding-block-end: 1.5rem;
		}

		h2 {
			color: var(--white);
			font-size: clamp(1.25rem, 6cqi, 2rem);
			font-weight: 600;
			line-height: 1.1;
			margin: 0;
			padding: 0;
			text-align: left;
		}

		p {
			margin-block-start: 1rem;
		}

		strong {
			color: #d4d0da;
		}

		label,
		input,
		button {
			display: block;
			font-size: 16px;
			font-weight: 400;
		}

		label {
			margin-block-start: 0.5rem;
		}

		p + label {
			margin-block-start: 1.5rem;
		}

		input {
			background: var(--white);
			border: 1px solid var(--text);
			border-radius: 0.25rem;
			color: var(--text);
			padding: 0.5rem;
			width: 100%;
		}

		button {
			background: var(--purple-600);
			border: none;
			border-radius: 0.25rem;
			color: var(--white);
			font-size: 1.25rem;
			font-weight: 800;
			margin-block-start: 1rem;
			max-width: 300px;
			padding: 0.25rem;
			text-transform: uppercase;
			width: 100%;
		}

		@media (min-width: 716px) {
			border-radius: 0.25rem;
			margin-block-start: 0;

			&:not(:first-child) {
				margin-block-start: 4rem;
			}
		}

		p.disclaimer {
			color: var(--gray-200);
			font-size: 0.75rem;
			font-style: italic;
			margin-block-start: 2rem;
			max-width: 54ch;
		}
	}

	:global(.post-content) .opt-in {
		margin-top: 2rem;

		strong {
			color: #d4d0da;
		}
	}
</style>
