---
import { CacheHeaders } from 'cdn-cache-control';
import { createImageUrl } from '../util/cloudinary';

export const prerender = false;

export interface Props {
	people: {
		user_id: string | null;
		name: string | null;
		slug: string | null;
		photo: { public_id: string | null } | null;
	}[];
}

const { people = [] } = Astro.props;

const userIds = people
	.map((p) => p.user_id)
	.filter((p) => typeof p === 'string');
const peopleWithUsername = people.map((person) => {
	return {
		...person,
		username: person.slug,
	};
});

const headers = new CacheHeaders()
	.swr()
	.ttl(86_400)
	.tag(['people', `people-${userIds.join('')}`]);

headers.forEach((value, key) => {
	Astro.response.headers.set(key, value);
});
---

{
	peopleWithUsername.length > 0 ? (
		<div class="people">
			<h2>People in this episode</h2>

			<div class="people-list">
				{peopleWithUsername.map((person) => {
					if (!person.photo || !person.photo.public_id) {
						return null;
					}

					const imgUrl = createImageUrl(person.photo.public_id, {
						width: 180,
						aspect_ratio: 1,
						crop: 'thumb',
						gravity: 'face',
					});

					return (
						<div class="person">
							<a href={`/profile/${person.username}`}>
								<img src={imgUrl} alt={person.name} />
							</a>
							<h4>{person.name}</h4>
						</div>
					);
				})}
			</div>
		</div>
	) : null
}

<style>
	.people {
		margin-block-start: 1rem;
	}

	.people-list {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		justify-content: center;
		margin-block-end: 3rem;
		margin-block-start: 1rem;

		@media (min-width: 750px) {
			justify-content: start;
		}
	}

	.person {
		inline-size: 100px;

		& img {
			block-size: auto;
			border-radius: 50%;
			display: block;
			inline-size: 90px;
			margin-inline: auto;
		}

		& h4 {
			color: var(--text-muted);
			font-size: 0.675rem;
			font-weight: normal;
			line-height: 1.1;
			margin-block-start: 0.25rem;
			text-align: center;

			& a {
				color: inherit;
				text-decoration: none;

				&:is(:hover, :focus) {
					text-decoration: underline;
				}
			}
		}
	}
</style>
