---
import Heart from './heart.astro';
import { getSubscriptionStatus } from '../util/stripe';

export const prerender = false;

const user = await Astro.locals.currentUser();
const status = await getSubscriptionStatus(user);
---

{
	status === 'active' ? null : (
		<a href="/dashboard" class="button">
			<Heart /> Become a Supporter
		</a>
	)
}
