---
import { Image } from '@unpic/astro';
import { createImageUrl } from '../util/cloudinary';
import { getSupporters } from '../util/sanity';

const supporters = await getSupporters();

if (supporters.length < 1) {
	return null;
}
---

<div class="supporter-list">
	{
		supporters.map((supporter) => {
			const photo = supporter.photo;

			if (!photo || !photo.public_id) {
				return;
			}

			const src = createImageUrl(photo.public_id, {
				height: 80,
				width: 80,
				crop: 'fill',
			});

			return (
				<a href={`/profile/${supporter.username}`} title={supporter.name}>
					<Image src={src} alt={supporter.name} width={80} aspectRatio={1} />
				</a>
			);
		})
	}
</div>

<style>
	.supporter-list {
		display: flex;
		flex-wrap: wrap;
		gap: 0.25rem;
		justify-content: start;
		margin-block-start: 1rem;

		a {
			display: block;
		}

		img {
			block-size: 40px;
			border-radius: 50%;
		}
	}
</style>
