---
export const prerender = false;

const user = await Astro.locals.currentUser();
---

{
	user ? (
		<a href="/dashboard">
			{user.fullName}
			<img src={user.imageUrl} alt={user.fullName} width={60} />
		</a>
	) : (
		<>
			<a href="/dashboard/sign-in">Sign In</a>
			<a href="/dashboard/sign-up">Create Account</a>
		</>
	)
}
