# App
COURSEBUILDER_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME="Epic Web"
NEXT_PUBLIC_URL=http://localhost:3000
NEXT_PUBLIC_SITE_TITLE="Epic Web Self-Serve Platform"
NEXT_PUBLIC_SUPPORT_EMAIL="support@example.com"
NEXT_PUBLIC_SUPPORT_PHYSICAL_ADDRESS="123 Example St, Example City, EX 12345"

# PartyKit
NEXT_PUBLIC_PARTYKIT_ROOM_NAME="epic-web"
NEXT_PUBLIC_PARTY_KIT_URL="https://epic-web.partykit.dev"

# Database
DATABASE_URL="mysql://root:password@localhost:3306/epic_web"

# Auth
NEXTAUTH_SECRET="my-secret-key"
NEXTAUTH_URL=http://localhost:3000
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# OpenAI 
OPENAI_API_KEY=""
OPENAI_MODEL_ID="gpt-4"

# Inngest
INNGEST_EVENT_KEY=""
INNGEST_SIGNING_KEY=""
INNGEST_APP_NAME="epic-web"

# Media
MUX_SECRET_KEY=""
MUX_ACCESS_TOKEN_ID=""
DEEPGRAM_API_KEY=""

# Redis
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

# Email
EMAIL_SERVER_HOST="smtp.postmarkapp.com"
EMAIL_SERVER_PORT="587"
POSTMARK_API_KEY=""
POSTMARK_WEBHOOK_SECRET=""
POSTMARK_KEY=""

# UploadThing
UPLOADTHING_URL=""

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=""