/* @import url('https://use.typekit.net/tjw2gng.css'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './quiz.css';
@import './primary-newsletter-cta.css';
@import './tip-newsletter-cta.css';
@import './video-block-newsletter-cta.css';
@import './tips.css';
@import './nprogress.css';
@import './video/mux-player.css';
@import './video/github-link.css';
@import './video/lesson-completion-toggle.css';
@import './video/lesson-description.css';
@import './video/lesson-title.css';
@import './video/module-lesson-list.css';
@import './video/video-overlays.css';
@import './video/video-transcript.css';
@import './video/module-navigator.css';
@import './focus-visible.css';
@import '@code-hike/mdx/dist/index.css';
@import './ui/button.css';
@import './login.css';
@import './commerce.css';

@layer base {
	:root {
		--nav-height: 4rem;
		--command-bar-height: 2.25rem;
		--pane-layout-height: calc(
			100vh - var(--nav-height) - var(--command-bar-height)
		);

		--background: 0 0% 100%;
		--foreground: 204 12% 17%;

		--muted: 240 14% 97%;
		--muted-foreground: 237 8% 50%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 47.4% 11.2%;

		--card: 0 0% 100%;
		--card-foreground: 217 33% 17%;

		--border: 0 0% 95%;
		--input: 0 0% 95%;

		--primary: 226 70% 55%;
		--primary-foreground: 0 0% 100%;

		--secondary: 217 33% 17%;
		--secondary-foreground: 210 40% 98%;

		--accent: 0 0% 95%;
		--accent-foreground: 226 70% 55%;

		--destructive: 0 100% 50%;
		--destructive-foreground: 210 40% 98%;

		--ring: 215 20.2% 65.1%;

		--radius: 0.35rem;
		color-scheme: light;
	}

	.dark {
		--background: 224 71% 4%;
		--foreground: 213 31% 91%;

		--muted: 223 47% 11%;
		--muted-foreground: 213 19% 57%;

		--popover: 224 71% 4%;
		--popover-foreground: 215 20.2% 65.1%;

		--card: 224 71% 4%;
		--card-foreground: 213 31% 91%;

		--border: 216 34% 17%;
		--input: 216 34% 17%;

		--primary: 226 70% 65%;
		--primary-foreground: 0 0% 100%;

		--secondary: 222.2 47.4% 11.2%;
		--secondary-foreground: 210 40% 98%;

		--accent: 216 34% 17%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 63% 31%;
		--destructive-foreground: 210 40% 98%;

		--ring: 217 91% 60%;

		--radius: 0.5rem;
		color-scheme: dark;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-balance;
	}

	body {
		@apply bg-background text-foreground font-normal antialiased;
		font-feature-settings:
			'rlig' 1,
			'calt' 1;
	}
}
