name: CI

# You can leverage Vercel Remote Caching with Turbo to speed up your builds
# @link https://turborepo.org/docs/core-concepts/remote-caching#remote-caching-on-vercel-builds
env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ vars.TURBO_TEAM }}

on:
  push:
    branches:
      - main
  pull_request:
    branches: ["*"]
  merge_group:


concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: ./tooling/gh-actions/setup

      - name: Build & test
        run: pnpm turbo build test --filter "./packages/*" --filter "create-course-app"

  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: ./tooling/gh-actions/setup

      - name: Lint
        run: pnpm lint

  format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: ./tooling/gh-actions/setup

      - name: Format
        run: pnpm format:check

  typecheck:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: ./tooling/gh-actions/setup

      - name: Typecheck
        run: pnpm typecheck

  check-changeset:
    runs-on: ubuntu-latest
    name: Check Changeset
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - uses: pnpm/action-setup@v2.2.4
        name: Install pnpm
        id: pnpm-install
        with:
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        run: |
          echo "pnpm_cache_dir=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install root dependencies
        run: pnpm --filter root install

      - name: Check and Validate Changes in /cli
        run: |
          git fetch origin main:main --update-head-ok
          changes=$(git diff --name-only main...${{ github.sha }} | grep '^cli/' || true)
          if [[ -n "$changes" ]]; then
            echo "Changes detected in /cli: $changes"
            pnpm changeset status --since origin/main
            exit_status=$?
            if [[ $exit_status -eq 0 ]]; then
              echo "Changeset validation succeeded."
            else
              echo "Changeset validation failed."
            fi
          else
            echo "No changes detected in /cli"
          fi